.Titlebar {
	height: 35px;
	background-color: #252f3f;
	color: #cbd1da;
	display: flex;
	line-height: 35px;
	border-top: 1px solid #161e2e;
	border-right: 1px solid #161e2e;
	border-left: 1px solid #161e2e;

	.Icon {
		width: 200px;
		background-repeat: no-repeat;
		background-size: 18px 18px;
		background-position: 8px 50%;
		background-image: url('../assets/images/icon.svg');
		-webkit-app-region: drag;
		-webkit-user-select: none;
	}

	.Title {
		width: calc(100% - 400px);
		-webkit-app-region: drag;
		-webkit-user-select: none;
		text-align: center;
	}

	.Controls {
		width: 200px;
		//background-color: red;
		display: flex;
		justify-content: flex-end;
		-webkit-app-region: drag;
		-webkit-user-select: none;

		.Item {
			border-left: 1px solid #161e2e;

			width: 35px;
			-webkit-app-region: no-drag;
			cursor: pointer;
			text-align: center;
			&:hover {
				background-color: #161e2e;
			}

			&.Minimize {
			}

			&.Maximize {
			}

			&.Close {
			}
		}

	}

}

.App {
	display: flex;
	min-height: calc(100% - 35px);

	.Menu {
		background-color: #252F3F;
		width: 60px;
		//padding-top: 20px;
		padding-top: 15px;
		//height: 100%;
		display: flex;
		height: calc(100% - 35px);
		//justify-content: center;
		flex-direction: column;
		align-items: center;
		position: fixed;
		border-left: 1px solid #161e2e;
		border-bottom: 1px solid #161e2e;
		border-top: 1px solid #161e2e;
		a {
			color: #cbcbcb;
			text-decoration: none;
		}

		.item {
			width: 40px;
			height: 40px;
			color: #cbcbcb;
			margin-bottom: 8px;
			border-radius: 5px;
			//text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: center;
			//background-size: 25px auto;
			background-size: 23px auto;
			opacity: .6;

			&.home {
				background-image: url('../assets/images/home.svg');
			}

			&.setting {
				background-image: url('../assets/images/setting.svg');
			}

			&:hover {
				background-color: #161E2E;
				opacity: .9;
			}

			&.active {
				background-color: #161E2E;
				opacity: .9;
			}
		}
	}


	.Main {
		width: calc(100% - 60px);
		//height: 100%;
		//background-color: #fff;
		//padding: 10px;
		padding: 20px;
		margin-left: 60px;
		border-right: 1px solid #161e2e;
		border-bottom: 1px solid #161e2e;

		h2 {
			margin-top: 0;
			color: #252f3f;
		}

		button {
			border: 0;
			width: 50px;
			line-height: 30px;
			background-color: #cbd1da;
			border-radius: 5px;
			color: #161e2e;
			cursor: pointer;
			margin-right: 10px;
		}
	}

}

