.App {
	display: flex;
	min-height: 100%;

	.Menu {
		background-color: #252F3F;
		width: 60px;
		//padding-top: 20px;
		padding-top: 15px;
		height: 100%;
		display: flex;
		//justify-content: center;
		flex-direction: column;
		align-items: center;
		position: fixed;

		a {
			color: #cbcbcb;
			text-decoration: none;
		}

		.item {
			width: 40px;
			height: 40px;
			color: #cbcbcb;
			margin-bottom: 8px;
			border-radius: 5px;
			//text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: center;
			//background-size: 25px auto;
			background-size: 23px auto;
			opacity: .6;

			&.home {
				background-image: url('../assets/images/home.svg');
			}

			&.setting {
				background-image: url('../assets/images/setting.svg');
			}

			&:hover {
				background-color: #161E2E;
				opacity: .9;
			}

			&.active {
				background-color: #161E2E;
				opacity: .9;
			}
		}
	}


	.Main {
		width: calc(100% - 60px);
		//height: 100%;
		//background-color: #fff;
		//padding: 10px;
		padding: 20px;
		margin-left: 60px;

		h2 {
			color: #252f3f;
		}

		button {
			border: 0;
			width: 50px;
			line-height: 30px;
			background-color: #cbd1da;
			border-radius: 5px;
			color: #161e2e;
			cursor: pointer;
		}
	}

}

