.App {
	display: flex;
	min-height: 100%;

	.Menu {
		background-color: #252F3F;
		width: 60px;
		padding-top: 20px;
		height: 100%;
		display: flex;
		//justify-content: center;
		flex-direction: column;
		align-items: center;
		position: fixed;

		a {
			color: #cbcbcb;
			text-decoration: none;
		}

		.item {
			width: 40px;
			height: 40px;
			color: #cbcbcb;
			margin-bottom: 8px;
			border-radius: 5px;
			//text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			&:hover {
				background-color: #161E2E;
			}

			&.active {
				background-color: #161E2E;
			}
		}
	}


	.Main {
		width: calc(100% - 60px);
		//height: 100%;
		//background-color: #fff;
		//padding: 10px;
		padding: 20px;
		margin-left: 60px;

		h2{
			color: #252f3f;
		}
		button{
			border: 0;
			width: 50px;
			line-height: 30px;
			background-color: #cbd1da;
			border-radius: 5px;
			color: #161e2e;
			cursor: pointer;
		}
	}

}

