
h2 {
	margin-top: 0;
	color: #252f3f;
}
p{
	line-height: 1.4;
	font-size: 15px;
}

button {
	border: 0;
	min-width: 50px;
	line-height: 30px;
	padding: 0 15px;
	background-color: #5c7084;
	border-radius: 20px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	margin-right: 10px;
	//border-bottom: 3px solid #8591a2;
	//background-image: linear-gradient(150deg, #bdc3c7, #959fab);
	//&:hover {
	//	background-image: linear-gradient(-30deg, #bdc3c7, #959fab);
	//}
	&:active {
		background-color: #395066;
		//background-image: linear-gradient(-30deg, #bdc3c7, #959fab);
	}
}
